* {
    box-sizing: border-box;
}

#board {
    display: flex;
    width: 70vh;
    flex-wrap: wrap;
}

.cell{
    width: 20vh;
    height: 20vh;
    font-size: 12vh;
    border: 1px solid black;
    text-align: center;
}

.player{
    display:flex;
}